@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes nameGradient{
    0%{background-position:0%;}
    10%{background-position:60%;}
    20%{background-position:120%;}
    30%{background-position:180%;}
    40%{background-position:240%;}
    50%{background-position:300%;}
    60%{background-position:240%;}
    70%{background-position:180%;}
    80%{background-position:120%;}
    90%{background-position:60%;}
    100%{background-position:0%;}
}
body{
    font-family: 'Ubuntu' ,sans-serif;
}
i h2{
    font-family: 'Ubuntu',sans-serif;
}
@keyframes menushow{
    0%{
        left: 100%;
    }
    25%{
        left: 75%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 25%;
    }
    100%{
        left: 0%;
    }
}
@keyframes menuhide{
    0%{
        left: 0%;
    }
    10%{
        left: 90%;
    }
    20%{
        left: 80%;
    }
    30%{
        left: 70%;
    }
    40%{
        left: 60%;
    }
    50%{
        left: 50%;
    }
    60%{
        left: 40%;
    }
    70%{
        left: 30%;
    }
    80%{
        left: 20%;
    }
    90%{
        left: 10%;
    }
    100%{
        left: 0%;
    }
}
.menu-show-animation{
    animation-name: menushow;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes text-gradient{
    0%{
        background-position:0%;
    }
    50%{
        background-position:300%;
    }
    100%{
        background-position:0%;
    }
}
header{
    background: url(./img/headerbg.webp);
    background-size: cover;
}
#name{
    background: linear-gradient(to right,#059669,#2563EB,#7C3AED,#DB2777,#7C3AED,#2563EB,#059669);
    background-size: 300%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    animation-name: text-gradient;
    animation-duration:5s;
    animation-iteration-count: infinite;
;
}
